.deps
.dirstamp
.libs
*.gmo
*.la
*.lo
*.o
*.orig
*.rej
*~
ABOUT-NLS
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.log
config.rpath
config.status
config.sub
configure
data/autostart/autostart
data/autostart/openbox-autostart
data/xsession/openbox-session
data/xsession/openbox.desktop
depcomp
doc/obxprop.1
doc/openbox-gnome-session.1
doc/openbox-kde-session.1
doc/openbox-session.1
doc/openbox.1
install-sh
libtool
ltmain.sh
m4/*.m4
Makefile
Makefile.in
missing
obrender/obrender-3.5.pc
obrender/rendertest
obt/obt_unittests
obt/obt-3.5.pc
obt/tests/bstest
obt/tests/ddtest
obt/tests/linktest
obt/tests/watchtest
openbox/openbox
parser/obparser-4.0.pc
po/boldquot.sed
po/en@boldquot.header
po/en@boldquot.insert-header
po/en@quot.header
po/en@quot.insert-header
po/insert-header.sin
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/Rules-quot
po/stamp-po
TAGS
tests/aspect
tests/big
tests/borderchange
tests/confignotify
tests/confignotifymax
tests/cursorio
tests/duplicatesession
tests/extentsrequest
tests/fakeunmap
tests/fallback
tests/focusout
tests/fullscreen
tests/grav
tests/groupmodal
tests/grouptran
tests/grouptran2
tests/grouptrancircular
tests/grouptrancircular2
tests/iconifydelay
tests/icons
tests/mapiconic
tests/mingrow
tests/modal
tests/modal2
tests/modal3
tests/noresize
tests/oldfullscreen
tests/override
tests/overrideinputonly
tests/positioned
tests/resize
tests/restack
tests/shape
tests/showhide
tests/skiptaskbar
tests/skiptaskbar2
tests/stacking
tests/strut
tests/title
tests/urgent
tests/usertimewin
tests/wmhints
tests/stackabove
tools/obxprop/obxprop
version.h
